<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>chip_overview_dashboard_html</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
    <!--[if IE 7]><link rel="stylesheet" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/sprites-ie7.css" /><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/chipViewer/application.css" />
    <style>

 	    td {
    	font-family: "Roboto", "Droid", "Helvetica Neue", Helvetica, Arial, sans-serif;
    	font-size:12px;
    	color: #0489B1;
		}
      
      	.table {table-layout: auto;}
		.input-radio {align-items:baseline;}
		.splunk-radiogroup .choice { float:left; }
		.splunk-radiogroup label { margin-right: 1em; margin-left:0;}
		.splunk-radiogroup input { margin-right: 2px; }
      	
      	.input{ min-width: 80px; max-width:150px; padding-right:10px;}
      	 input[type="text"] { min-width: 70px; max-width:130px;}
	    .select2-container{ min-width: 80px; max-width:150px;}
      	.select2-container-active{ min-width: 80px; max-width:100px;}
      	.select2-dropdown-open{ min-width: 80px; max-width:100px;}
      	.select2-choices{ min-width: 80px; max-width:150px;}
	 	.select2-choice{ min-width: 80px; max-width:150px;}
      	.select2-drop{ min-width: 80px; max-width:150px;}
      

      
        td.icon {
            text-align: center;
        }

        td.icon i {
            font-size: 20px;
            text-shadow: 1px 1px #aaa;
        }


        td.icon .CORE {
            color: blue;
        }

        td.icon .RECOVERY {
      		color: red;
        }

        td.icon .AUTO_PROCEDURE {
            color: green;
        }
      
      
        td.status j {
      		//font-size: 20px;
      		text-align: center;
            font: bold;
		    width: 100%;
        }

        td.status ._NEW {
            background-color: orange;
    		color: white;
        }
      
        td.status .PROBLEM {
            background-color: orangered;
    		color: white;
        }
      
        td.status .FAILED {
            background-color: darkred;
    		color: white;
        }
      
        td.status .DONE {
            background-color: green;
    		color: white;
        }
      
    
      
    </style>
   <style type="text/css">
 			p span {font-weight: bold;   color: #084B8A;}
	</style>
  
</head>
<body class="simplexml preload locale-en">
<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 

<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header splunk-header">
        <div id="placeholder-splunk-bar">
            <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
            <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
-->

<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>CHIP overview</h2>
    </div>
    <div class="fieldset">
        <div class="input input-timerangepicker" id="input1">
            <label>Time</label>
        </div>
       <div class="input input-dropdown" id="field2">
           	<label>Partition</label>
        </div>
        <div class="input input-dropdown" id="field2_1">
           	<label>Run Number</label>
        </div>

    </div>
  

<p> <span>   Please select a wide enough time interval when searching by Run Number to make sure that the run is entirely selected.   </span>  </p>
  
	<row id="tabs">
	   <panel>
	      <html>
	         <ul id="tabs" class="nav nav-tabs">
                    <li class="active">
                        <a href="#" class="toggle-tab" data-toggle="tab" data-elements="row1,row11,row2,row21,row22,row23" data-token="control_token_charts">Charts</a>
                    </li>
		    <li>
			<a href="#" class="toggle-tab" data-toggle="tab" data-elements="row3,row4" data-token="control_token_table">Table</a>
		    </li>
		 </ul>
	      </html>
	   </panel>
	</row>   
 	<div id="row1" class="dashboard-row dashboard-row1">
      	<div id="panel2" class="dashboard-cell" style="width: 100%;">
	  		<div class="dashboard-panel clearfix">
        		<h2 class="panel-title">Activity over Time</h2>     
               	<div class="panel-element-row">
               		<div id="element2" class="dashboard-element chart" style="width: 100%">
                   		<div class="panel-body"></div>
                   	</div>
                </div>
      		</div>
      	</div>
    </div>
    <div id="row11" class="dashboard-row dashboard-row11">
   		<div id="panel1" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Activity distribution</h2>              
                <div class="panel-element-row">
                    <div id="element1" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel3" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
               <h2 class="panel-title"> Overall status distribution</h2>
                <div class="panel-element-row">
                    <div id="element6" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-head">
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  	<div id="row21" class="dashboard-row dashboard-row21">
    	<div id="panel4" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title"> Core action distribution</h2>
                <div class="panel-element-row">
                    <div id="element3" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-head">
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel6" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title"> Auto Procedure action distribution</h2>
                <div class="panel-element-row">
                    <div id="element5" class="dashboard-element chart" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
  	</div>  
  
    <div id="row2" class="dashboard-row dashboard-row2">
 	 	<div id="panel5" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title"> Recovery action distribution</h2>
                <div class="panel-element-row">
                    <div id="element4" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-head">
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
		<div id="panel51" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title"> Recovery action per detector distribution</h2>
                <div class="panel-element-row">
                    <div id="element41" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-head">
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>      	      
    </div>
  
  	<div id="row22" class="dashboard-row dashboard-row22">
		<div id="panel22" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title"> Recovery type per detector distribution (Hlt recoveries not reported)</h2>
                <div class="panel-element-row">
                    <div id="element22" class="dashboard-element chart" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div id="row23" class="dashboard-row dashboard-row23">
		<div id="panel23" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title"> Detector recovery time distribution</h2>
                <div class="panel-element-row">
                    <div id="element23" class="dashboard-element chart" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div id="row3" class="dashboard-row dashboard-row3">

  
        <div id="panel10" class="dashboard-cell" style="width: 100%;">
			<div class="fieldset">                
           
                    
        			<div class="input input-multiselect" id="field3">
            			<label>Core type</label>
        			</div>
                    <div class="input input-multiselect" id="field4">
            			<label>Recovery type</label>
        			</div>
                    <div class="input input-multiselect" id="field5">
            			<label>Automatic procedures</label>
        			</div>
              		<div class="input input-multiselect" id="field6">
            			<label>Status</label>
        			</div>
                    <div class="input input-text" id="field7">
            			<label>Contains</label>
        			</div>
                    <div class="form-submit" id="search_btn">
            			<button class="btn btn-primary submit">Submit</button>
        			</div>
         
            </div>
        </div> 
   </div>
     <div id="row4" class="dashboard-row dashboard-row4">

        <div id="panel7" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element9" class="dashboard-element table" style="width: 100%;">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
 
  
<!--
<div class="footer"></div>
-->

<!-- 
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
<script type="text/javascript">
// <![CDATA[
require.config({
    baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
    waitSeconds: 0 // Disable require.js load timeout
});

//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
// 
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require(['jquery','underscore','splunkjs/mvc', 'bootstrap.tab', 'splunkjs/mvc/simplexml/ready!'],
		function($, _, mvc){
	
	/**
	 * The below defines the tab handling logic.
	 */
	
	// The normal, auto-magical Bootstrap tab processing doesn't work for us since it requires a particular
	// layout of HTML that we cannot use without converting the view entirely to simpleXML. So, we are
	// going to handle it ourselves.
	var hideTabTargets = function(){
		
		var tabs = $('a[data-elements]');
		
		// Go through each toggle tab
		for(var c = 0; c < tabs.length; c++){
			
			// Hide the targets associated with the tab
			var targets = $(tabs[c]).data("elements").split(",");
			
			for(var d = 0; d < targets.length; d++){
				$('#' + targets[d], this.$el).hide();
			}
		}
	};
	
	var selectTab = function (e) {
		
		// Stop if the tabs have no elements
		if( $(e.target).data("elements") === undefined ){
			console.warn("The clicked tab has no elements to hide!");
			return;
		}
		
		// Get the IDs that we should enable for this tab
		var toToggle = $(e.target).data("elements").split(",");
		
		// Hide the tab content by default
		hideTabTargets();
		
		// Now show this tabs toggle elements
		for(var c = 0; c < toToggle.length; c++){
			$('#' + toToggle[c], this.$el).show();
		}
		
	};
	
	// Wire up the function to show the appropriate tab
	$('a[data-toggle="tab"]').on('shown', selectTab);
	
	// Show the first tab
	$('.toggle-tab').first().trigger('shown');
	
	// Make the tabs into tabs
    $('#tabs', this.$el).tab();
    
   
 /**
     * The code below handles the tokens that trigger when searches are kicked off for a tab.
     */
    
    // Get the tab token for a given tab name
    var getTabTokenForTabName = function(tab_name){
    	return tab_name; //"tab_" + 
    }
    
    // Get all of the possible tab control tokens
    var getTabTokens = function(){
    	var tabTokens = [];
    	
    	var tabLinks = $('#tabs > li > a');
    	
    	for(var c = 0; c < tabLinks.length; c++){
    		tabTokens.push( getTabTokenForTabName( $(tabLinks[c]).data('token') ) );
    	}
    	
    	return tabTokens;
    }
    
    // Clear all but the active tab control tokens
    var clearTabControlTokens = function(){
    	console.info("Clearing tab control tokens");
    	
    	var tabTokens = getTabTokens();
    	var activeTabToken = getActiveTabToken();
    	var tokens = mvc.Components.getInstance("submitted");
    	
    	// Clear the tokens for all tabs except for the active one
    	for(var c = 0; c < tabTokens.length; c++){
    		
    		if( activeTabToken !== tabTokens[c] ){
    			tokens.set(tabTokens[c], undefined);
    		}
    	}
    }
    
    // Get the tab control token for the active tab
    var getActiveTabToken = function(){
    	return $('#tabs > li.active > a').data('token');
    }
    
    // Set the token for the active tab
    var setActiveTabToken = function(){
    	var activeTabToken = getActiveTabToken();
    	
    	var tokens = mvc.Components.getInstance("submitted");
    	
    	tokens.set(activeTabToken, '');
    }
    
    var setTokenForTab = function(e){
    	
		// Get the token for the tab
    	var tabToken = getTabTokenForTabName($(e.target).data('token'));
		
		// Set the token
		var tokens = mvc.Components.getInstance("submitted");
		tokens.set(tabToken, '');
		
		console.info("Set the token for the active tab (" + tabToken + ")");
    }
    
    $('a[data-toggle="tab"]').on('shown', setTokenForTab);
    
    // Wire up the tab control tokenization
    var submit = mvc.Components.get("submit");
    
    submit.on("submit", function() {
    	clearTabControlTokens();
    });
    
    // Set the token for the selected tab
    setActiveTabToken();

 // Timerange Test
 var mypresetsettings = {
     showCustomDateTime: true,
     showPresets: true,
     showCustomRealTime: true,
     showCustomAdvanced: false,
     showCustomRelative: false,
     showCustomDate: false
 };
 
 // Show only the date and time submenue of the timerangepicker
 var timeRangePicker = mvc.Components.getInstance("input1");
 timeRangePicker.options.dialogOptions = mypresetsettings;
 console.log(timeRangePicker.options);
 mvc.Components.getInstance("input1").render();
    
});

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/headerview",
    "splunkjs/mvc/footerview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/checkboxview"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        HeaderView,
        FooterView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example: 
        // ...UrlTokenModel, 
        // CheckboxView
        ) {

        var pageLoading = true;


        // 
        // TOKENS
        //
        
        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }

        
        
        //
        // SEARCH MANAGERS
        //

        var search1 = new SearchManager({
            "id": "search1",
            "search": "index=ers $control_token_charts$ part=$partition$ source=CHIP* rn=$rn$ | rex field=params \"type: (?<type>\\w+)\" | rex field=params \"status: (?<status>\\w+)\" | search (msgID=\"chip::msg::Core\") OR (msgID=\"chip::msg::Recovery\" AND type!=\"RESET_AFTER_STOP\") OR (msgID=\"chip::msg::AutoProc\") AND (status=\"DONE\" OR status=\"FAILED\") | noop search_optimization=false | chart count by msgID",
            "cancelOnUnload": true,
            "latest_time": "$field1.latest$",
            "status_buckets": 0,
            "earliest_time": "$field1.earliest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

		var search2 = new SearchManager({
            "id": "search2",
            "search": "index=ers $control_token_charts$ part=$partition$ source=CHIP* rn=$rn$ | rex field=params \"type: (?<type>\\w+)\" | rex field=params \"status: (?<status>\\w+)\" | search (msgID=\"chip::msg::Core\") OR (msgID=\"chip::msg::Recovery\" AND type!=\"RESET_AFTER_STOP\") OR (msgID=\"chip::msg::AutoProc\") AND (status=\"DONE\" OR status=\"FAILED\") | noop search_optimization=false | timechart count by msgID",
            "cancelOnUnload": true,
            "latest_time": "$field1.latest$",
            "status_buckets": 0,
            "earliest_time": "$field1.earliest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});


        var search3 = new SearchManager({
            "id": "search3",
            "search": "index=ers $control_token_charts$ part=$partition$ source=CHIP* rn=$rn$ | rex field=params \"status: (?<status>\\w+)\" | search (msgID=\"chip::msg::Core\") AND (status=\"DONE\" OR status=\"FAILED\") | rex field=params \"type: (?<type>\\w+)\" | noop search_optimization=false | chart count by type",
            "cancelOnUnload": true,
            "latest_time": "$field1.latest$",
            "status_buckets": 0,
            "earliest_time": "$field1.earliest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search4 = new SearchManager({
            "id": "search4",
            "search": "index=ers $control_token_charts$ part=$partition$ source=CHIP* rn=$rn$ | rex field=params \"type: (?<type>\\w+)\" | rex field=params \"status: (?<status>\\w+)\" | search (msgID=\"chip::msg::Recovery\") AND (status=\"DONE\" OR status=\"FAILED\") AND (type!=\"RESET_AFTER_STOP\") | rex field=params \"name: (?<name>\\w+)\" | noop search_optimization=false | chart count by name",
            "cancelOnUnload": true,
            "latest_time": "$field1.latest$",
            "status_buckets": 0,
            "earliest_time": "$field1.earliest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search41 = new SearchManager({
            "id": "search41",
            "search": "index=ers $control_token_charts$ part=$partition$ source=CHIP* rn=$rn$ | rex field=params \"type: (?<type>\\w+)\" | rex field=params \"status: (?<status>\\w+)\" | search (msgID=\"chip::msg::Recovery\") AND (status=\"DONE\" OR status=\"FAILED\") AND (type!=\"RESET_AFTER_STOP\") | rex field=params \"detector: (?<detector>(\\w+,?)+)\" | makemv delim=\",\" detector | noop search_optimization=false | chart count by detector",
            "cancelOnUnload": true,
            "latest_time": "$field1.latest$",
            "status_buckets": 0,
            "earliest_time": "$field1.earliest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search22 = new SearchManager({
            "id": "search22",
            "search": "index=ers $control_token_charts$ part=$partition$ source=CHIP* rn=$rn$ | rex field=params \"type: (?<type>\\w+)\" | rex field=params \"status: (?<status>\\w+)\" | rex field=params \"name: (?<name>\\w+)\" | search (msgID=\"chip::msg::Recovery\") AND (status=\"DONE\" OR status=\"FAILED\") AND (type!=\"RESET_AFTER_STOP\") AND (name != \"Hlt\" AND name != \"HltErs\") | rex field=params \"detector: (?<detector>(\\w+,?)+)\" | makemv delim=\",\" detector | noop search_optimization=false | chart count over name by detector useother=f limit=100",
            "cancelOnUnload": true,
            "latest_time": "$field1.latest$",
            "status_buckets": 0,
            "earliest_time": "$field1.earliest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

         var search23 = new SearchManager({
            "id": "search23",
            "search": "index=ers $control_token_charts$ part=$partition$ source=CHIP* rn=$rn$ | rex field=params \"type: (?<type>\\w+)\" | rex field=params \"status: (?<status>\\w+)\" | rex field=params \"name: (?<name>\\w+)\" | search (msgID=\"chip::msg::Recovery\") AND (status=\"DONE\" OR status=\"FAILED\") AND (type!=\"RESET_AFTER_STOP\") | rex field=params \"detector: (?<detector>(\\w+,?)+)\" | makemv delim=\",\" detector | noop search_optimization=false | timechart count by detector useother=f limit=100",
            "cancelOnUnload": true,
            "latest_time": "$field1.latest$",
            "status_buckets": 0,
            "earliest_time": "$field1.earliest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search5 = new SearchManager({
            "id": "search5",
            "search": "index=ers $control_token_charts$ part=$partition$ source=CHIP* rn=$rn$ | rex field=params \"status: (?<status>\\w+)\" | search (msgID=\"chip::msg::AutoProc\") AND (status=\"DONE\" OR status=\"FAILED\") | rex field=params \"name: (?<name>\\w+(\\s\\w+.\\w+)?)\" | noop search_optimization=false | chart count by name",
            "cancelOnUnload": true,
            "latest_time": "$field1.latest$",
            "status_buckets": 0,
            "earliest_time": "$field1.earliest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search6 = new SearchManager({
            "id": "search6",
            "search": "index=ers $control_token_charts$ part=$partition$ source=CHIP* rn=$rn$ | rex field=params \"type: (?<type>\\w+)\" | rex field=params \"status: (?<status>\\w+)\" | search type!=\"RESET_AFTER_STOP\" AND status!=\"_NEW\" | noop search_optimization=false | chart count by status",
            "cancelOnUnload": true,
            "latest_time": "$field1.latest$",
            "status_buckets": 0,
            "earliest_time": "$field1.earliest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});



        var search9 = new SearchManager({
            "id": "search9",
       		"search": "index=ers $control_token_table$ part=$partition$ source=CHIP* rn=$rn$ | search (msgID=\"chip::msg::Core\" AND $coreType$) OR (msgID=\"chip::msg::AutoProc\" AND $autoType$) OR (msgID=\"chip::msg::Recovery\" AND $recoveryType$) AND $status$ AND $coreContains$ | rex field=params \"type: (?<type>\\w+)\" | rex field=params \"name: (?<name>\\w+(\\s\\w+.\\w+)?)\" | rex field=params \"category: (?<category>\\w+)\" | rex field=params \"status: (?<status>\\w+)\" | eval msg_type = if(name==\"Core\", type, name) | rename rn as run_n | noop search_optimization=false | table _time run_n msgID category text msg_type status",
            "cancelOnUnload": true,
            "latest_time": "$field1.latest$",
            "status_buckets": 0,
            "earliest_time": "$field1.earliest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});


        //
        // SPLUNK HEADER AND FOOTER
        //

        new HeaderView({
            id: 'header',
            section: 'dashboards',
            el: $('.header'),
            acceleratedAppNav: true,
            useSessionStorageCache: true,
            splunkbar: true,
            appbar: true,
            litebar: false,
        }, {tokens: true}).render();

        new FooterView({
            id: 'footer',
            el: $('.footer')
        }, {tokens: true}).render();


        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: true
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var element1 = new ChartElement({
            "id": "element1",
            "charting.axisTitleY.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.axisY2.scale": "inherit",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisY.scale": "linear",
            "charting.chart.nullValueMode": "gaps",
            "charting.legend.placement": "right",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart": "pie",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.stackMode": "default",
            "charting.chart.sliceCollapsingThreshold": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisX.scale": "linear",
            "charting.axisTitleX.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.drilldown": "none",
            "charting.chart.showDataLabels": "none",
            "link.openSearch.visible": "false",
            "link.inspectSearch.visible": "false",
            "resizable": true,
            "managerid": "search1",
            "el": $('#element1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        var element2 = new ChartElement({
            "id": "element2",
            "charting.axisTitleY.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.axisY2.scale": "inherit",
            "charting.axisTitleY.text": "Count",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisY.scale": "linear",
            "charting.axisTitleX.text": "Time",
            "charting.chart.nullValueMode": "gaps",
            "charting.legend.placement": "right",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart": "area",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.stackMode": "default",
            "charting.chart.sliceCollapsingThreshold": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisX.scale": "linear",
            "charting.axisTitleX.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.drilldown": "none",
            "charting.chart.showDataLabels": "none",
            "link.openSearch.visible": "false",
            "link.inspectSearch.visible": "false",
            "resizable": true,
            "managerid": "search2",
            "el": $('#element2')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element22 = new ChartElement({
            "id": "element22",
            "charting.axisTitleY.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.axisY2.scale": "inherit",
            "charting.axisTitleY.text": "Count",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisY.scale": "log",
            "charting.axisTitleX.text": "Recovery Type",
            "charting.chart.nullValueMode": "gaps",
            "charting.legend.placement": "right",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart": "column",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.stackMode": "stacked",
            "charting.chart.sliceCollapsingThreshold": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisX.scale": "linear",
            "charting.axisTitleX.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.drilldown": "none",
            "charting.chart.showDataLabels": "none",
            "link.openSearch.visible": "false",
            "link.inspectSearch.visible": "false",
            "resizable": true,
            "managerid": "search22",
			"height": "400",
            "el": $('#element22')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element23 = new ChartElement({
            "id": "element23",
            "charting.axisTitleY.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.axisY2.scale": "inherit",
            "charting.axisTitleY.text": "Count",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisY.scale": "linear",
            "charting.axisTitleX.text": "Time",
            "charting.chart.nullValueMode": "gaps",
            "charting.legend.placement": "right",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart": "area",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.stackMode": "default",
            "charting.chart.sliceCollapsingThreshold": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisX.scale": "linear",
            "charting.axisTitleX.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.drilldown": "none",
            "charting.chart.showDataLabels": "none",
            "link.openSearch.visible": "false",
            "link.inspectSearch.visible": "false",
            "resizable": true,
			"height": "400",
            "managerid": "search23",
            "el": $('#element23')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element3 = new ChartElement({
            "id": "element3",
            "charting.axisTitleY.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.axisY2.scale": "inherit",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisY.scale": "linear",
            "charting.chart.nullValueMode": "gaps",
            "charting.legend.placement": "right",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart": "pie",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.stackMode": "default",
            "charting.chart.sliceCollapsingThreshold": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisX.scale": "linear",
            "charting.axisTitleX.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.drilldown": "none",
            "charting.chart.showDataLabels": "none",
            "link.openSearch.visible": "false",
            "link.inspectSearch.visible": "false",
            "resizable": true,
            "managerid": "search3",
            "el": $('#element3')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        var element4 = new ChartElement({
            "id": "element4",
            "charting.axisTitleY.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.axisY2.scale": "inherit",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisY.scale": "linear",
            "charting.chart.nullValueMode": "gaps",
            "charting.legend.placement": "right",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart": "pie",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.stackMode": "default",
            "charting.chart.sliceCollapsingThreshold": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisX.scale": "linear",
            "charting.axisTitleX.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.drilldown": "none",
            "charting.chart.showDataLabels": "none",
            "link.openSearch.visible": "false",
            "link.inspectSearch.visible": "false",
            "resizable": true,
            "managerid": "search4",
            "el": $('#element4')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element41 = new ChartElement({
            "id": "element41",
            "charting.axisTitleY.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.axisY2.scale": "inherit",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisY.scale": "linear",
            "charting.chart.nullValueMode": "gaps",
            "charting.legend.placement": "right",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart": "pie",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.stackMode": "default",
            "charting.chart.sliceCollapsingThreshold": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisX.scale": "linear",
            "charting.axisTitleX.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.drilldown": "none",
            "charting.chart.showDataLabels": "none",
            "link.openSearch.visible": "false",
            "link.inspectSearch.visible": "false",
            "resizable": true,
            "managerid": "search41",
            "el": $('#element41')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element5 = new ChartElement({
            "id": "element5",
            "charting.axisTitleY.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.axisY2.scale": "inherit",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisY.scale": "linear",
            "charting.chart.nullValueMode": "gaps",
            "charting.legend.placement": "right",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart": "pie",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.stackMode": "default",
            "charting.chart.sliceCollapsingThreshold": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisX.scale": "linear",
            "charting.axisTitleX.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.drilldown": "none",
            "charting.chart.showDataLabels": "none",
            "link.openSearch.visible": "false",
            "link.inspectSearch.visible": "false",
            "resizable": true,
            "managerid": "search5",
            "el": $('#element5')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element6 = new ChartElement({
            "id": "element6",
            "charting.axisTitleY.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.axisY2.scale": "inherit",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisY.scale": "linear",
            "charting.chart.nullValueMode": "gaps",
            "charting.legend.placement": "right",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart": "pie",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.stackMode": "default",
            "charting.chart.sliceCollapsingThreshold": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisX.scale": "linear",
            "charting.axisTitleX.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.fieldColors": "{\"FAILED\": 0xB40404,  \"_NEW\": 0xF0C161, \"DONE\": 0x008000, \"PROBLEM\": 0xEE3E1A}",
            "charting.drilldown": "none",
            "charting.chart.showDataLabels": "none",
            "link.openSearch.visible": "false",
            "link.inspectSearch.visible": "false",
            "resizable": true,
            "managerid": "search6",
            "el": $('#element6')
        }, {tokens: true, tokenNamespace: "submitted"}).render();



        var element9 = new TableElement({
            "id": "element9",
            "count": 20,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "rowNumbers": "false",
            "wrap": "true",
			"maxLines": "20",
			"showPager": "true",
            "managerid": "search9",
            "el": $('#element9')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

       

  		// Custom code
   		// Define icons for the custom table cell
 
            var ICONS = {
                CORE: "gear",
                AUTO_PROCEDURE: "play",
                RECOVERY: "two-arrows-cycle"
            };

            // Use the BaseCellRenderer class to create a custom table cell renderer
 	 		// Require the Table view library
			var TableView = require("splunkjs/mvc/tableview");
            var CustomCellRenderer = TableView.BaseCellRenderer.extend({ 
                canRender: function(cellData) {
                    // This method returns "true" for the "category" field
  					//return cellData.field === "category";
  					return ($.inArray(cellData.field, ["category","status"]) >= 0);
                },

                // This render function only works when canRender returns "true"
                render: function($td, cellData) {
                    console.log("cellData: ", cellData);

                    var icon = "question";
  
  					if( cellData.field == "category" ){
                    	if(ICONS.hasOwnProperty(cellData.value)) {
                        	icon = ICONS[cellData.value];
                    	}
                      	$td.addClass("icon").html(_.template('<i class="icon-<%-icon%> <%- category %>" title="<%- category %>"></i>', {
                        	icon: icon,
                        	category: cellData.value
                    	}));
  					}
  					else if( cellData.field == "status"){
  						$td.addClass("status").html(_.template('<j class="<%- status %>" status="<%- status %>"> <%- status %> </j>', {
                        	status: cellData.value
                    	}));
  					}
  					
  

                }
            });
  
    		 // Use the BasicRowRenderer class to create a custom table row renderer
            var CustomRowRenderer = TableView.BaseRowExpansionRenderer.extend({
                canRender: function(rowData) {
                    console.log("RowData: ", rowData); 
                    return true;
                },

                render: function($container, rowData) {
                // Print the rowData object to the console
                console.log("RowData: ", rowData); 

                // Display some of the rowData in the expanded row
                $container.append("<div>" 
                    + "<b>Full event</b> " + rowData.values[0]
                    + "</div>");
                }
            });
  
  
  			mvc.Components.get('element9').getVisualization(function(tableView){
				// Register custom cell renderer
				tableView.table.addCellRenderer(new CustomCellRenderer());
            	tableView.addRowExpansionRenderer(new CustomRowRenderer()); 
				// Force the table to re-render
				tableView.table.render();
			});
  
  //Custom code end

        //
        // VIEWS: FORM INPUTS
        //

        var input1 = new TimeRangeInput({
            "id": "input1",
			"default": {"latest_time": "now", "earliest_time": "-1w@w"},
            "searchWhenChanged": true,
            "earliest_time": "$form.field1.earliest$",
            "latest_time": "$form.field1.latest$",
            "el": $('#input1')
        }, {tokens: true}).render();

        input1.on("change", function(newValue) {
            FormUtils.handleValueChange(input1);
        });

		var field2 = new DropdownInput({
            "id": "field2",
            "choices": [],
            "searchWhenChanged": true,
            "default": "ATLAS",
            "valueField": "part",
            "labelField": "part",
            "selectFirstChoice": false,
            "value": "$form.partition$",
            "managerid": "search_2",
            "showClearButton": true,
            "el": $('#field2')
        }, {tokens: true}).render();

        field2.on("change", function(newValue) {
            FormUtils.handleValueChange(field2);
        });

        // Populating search for field 'field2'
        var search_2 = new SearchManager({
            "id": "search_2",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "search": "index=ers | top limit=30 part",
            "earliest_time": "$field1.earliest$",
            "latest_time": "$field1.latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true});


		var field2_1 = new DropdownInput({
            "id": "field2_1",
			"choices": [
                {"label": "ALL", "value": "*"},
            ],
            "searchWhenChanged": true,
            "default": "*",
            "valueField": "rn",
            "labelField": "rn",
            "selectFirstChoice": false,
            "value": "$form.rn$",
            "managerid": "search_2_1",
            "showClearButton": true,
            "el": $('#field2_1')
        }, {tokens: true}).render();

        field2_1.on("change", function(newValue) {
            FormUtils.handleValueChange(field2_1);
        });

        // Populating search for field 'field2_1'
        var search_2_1 = new SearchManager({
            "id": "search_2_1",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "search": "index=ers part=$partition$ source=CHIP* | dedup rn",
            "earliest_time": "$field1.earliest$",
            "latest_time": "$field1.latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true});


        var field3 = new MultiSelectInput({
            "id": "field3",
            "choices": [
                {"label": "ALL", "value": "*"},
			    {"label": "NONE", "value": "NONE_TO_SELECT"}
            ],
            "default": ["*"],
            "valueSuffix": "\"",
            "delimiter": " OR ",
            "suffix": ")",
            "prefix": "(",
            "searchWhenChanged": false,
            "valueField": "type",
            "labelField": "type",
            "valuePrefix": "\"type: ",
            "value": "$form.coreType$",
            "managerid": "search_3",
            "el": $('#field3')
        }, {tokens: true}).render();

        field3.on("change", function(newValue) {
            FormUtils.handleValueChange(field3);
        });

        // Populating search for field 'field3'
        var search_3 = new SearchManager({
            "id": "search_3",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "search": "index=ers part=$partition$ source=CHIP* rn=$rn$ | search msgID=\"chip::msg::Core\" | rex field=params \"type: (?<type>\\w+)\" | dedup type",
            "earliest_time": "$field1.earliest$",
            "latest_time": "$field1.latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true});


        var field4 = new MultiSelectInput({
            "id": "field4",
            "choices": [
                {"label": "ALL", "value": "*"},
  			    {"label": "NONE", "value": "NONE_TO_SELECT"}
            ],
            "default": ["*"],
            "valueSuffix": "\"",
            "delimiter": " OR ",
            "suffix": ")",
            "prefix": "(",
            "searchWhenChanged": false,
            "valueField": "name",
            "labelField": "name",
            "valuePrefix": "\"name: ",
            "value": "$form.recoveryType$",
            "managerid": "search_4",
            "el": $('#field4')
        }, {tokens: true}).render();

        field4.on("change", function(newValue) {
            FormUtils.handleValueChange(field4);
        });

        // Populating search for field 'field4'
        var search_4 = new SearchManager({
            "id": "search_4",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "search": "index=ers part=$partition$ source=CHIP* rn=$rn$ | search msgID=\"chip::msg::Recovery\" | rex field=params \"name: (?<name>\\w+)\" | dedup name",
            "earliest_time": "$field1.earliest$",
            "latest_time": "$field1.latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true});


        var field5 = new MultiSelectInput({
            "id": "field5",
            "choices": [
                {"label": "ALL", "value": "*"},
  			    {"label": "NONE", "value": "NONE_TO_SELECT"}
            ],
            "default": ["*"],
            "valueSuffix": "\"",
            "delimiter": " OR ",
            "suffix": ")",
            "prefix": "(",
            "searchWhenChanged": false,
            "valueField": "name",
            "labelField": "name",
            "valuePrefix": "\"name: ",
            "value": "$form.autoType$",
            "managerid": "search_5",
            "el": $('#field5')
        }, {tokens: true}).render();

        field5.on("change", function(newValue) {
            FormUtils.handleValueChange(field5);
        });

        // Populating search for field 'field5'
        var search_5 = new SearchManager({
            "id": "search_5",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "search": "index=ers part=$partition$ source=CHIP* rn=$rn$ | search msgID=\"chip::msg::AutoProc\" | rex field=params \"name: (?<name>\\w+(\\s\\w+.\\w+)?)\" | dedup name",
            "earliest_time": "$field1.earliest$",
            "latest_time": "$field1.latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true});


        var field6 = new MultiSelectInput({
            "id": "field6",
            "choices": [
                {"label": "ALL", "value": "*"}
            ],
            "default": ["*"],
            "valueSuffix": "\"",
            "delimiter": " OR ",
            "suffix": ")",
            "prefix": "(",
            "searchWhenChanged": false,
            "valueField": "status",
            "labelField": "status",
            "valuePrefix": "\"status: ",
            "value": "$form.status$",
            "managerid": "search_6",
            "el": $('#field6')
        }, {tokens: true}).render();

        field6.on("change", function(newValue) {
            FormUtils.handleValueChange(field6);
        });

        // Populating search for field 'field6'
        var search_6 = new SearchManager({
            "id": "search_6",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "search": "index=ers part=$partition$ source=CHIP* rn=$rn$ | rex field=params \"status: (?<status>\\w+)\" | dedup status",
            "earliest_time": "$field1.earliest$",
            "latest_time": "$field1.latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true});

        var field7 = new TextInput({
            "id": "field7",
            "searchWhenChanged": false,
            "default": "*",
            "value": "$form.coreContains$",
            "el": $('#field7')
        }, {tokens: true}).render();

        field7.on("change", function(newValue) {
            FormUtils.handleValueChange(field7);
        });

  		// 
        // SUBMIT FORM DATA
        //

        var submit = new SubmitButton({
            id: 'submit',
            el: $('#search_btn')
        }, {tokens: true}).render();

        submit.on("submit", function() {
            submitTokens();
        });
        
        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

       // if (!_.isEmpty(urlTokenModel.toJSON())){
            submitTokens();
      //  }


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
</body>
</html>
